/* .container {
    padding: 50px 10vw;
    background-color: blue;
} */
/* .content-txt {
    text-align: justify;
    background-color: blue;
} */

.dark-body{
    background: #222;
    color: #f1f1f1;
}