.content {
    padding: 100px ;
    
}
.title {
    font-size: 50px;
    padding: 20px 0 30px 0; 
    position: relative;
    bottom: 500px;
    
}

.content-txt {
    font-size: 22px;
    position: relative;
    bottom: 500px;
}


 .content {
        padding: 100px ;
    }

    @media (max-width:1199px){
        .title {
            font-size: 40px;
            padding: 20px 0 30px 0; 
            margin-top: 190px;
        } 
    }
    @media (max-width:732px){
        .title {
            font-size: 18px;
            padding: 20px 0 30px 0; 
            /* margin-top: 500px; */
            position: fixed;
            top: 220px;
            left: 100px;
        } 
        .content-txt {
            font-size: 15px;
            position: fixed;
            top: 470px;
            left: 100px;
        }
        
       }
       @media (max-width:400px){
        .title {
            font-size: 18px;
            padding: 20px 0 30px 0; 
            /* margin-top: 500px; */
            position: fixed;
            top: 220px;
            left: 80px;
            
        } 
        .content-txt {
            font-size: 15px;
            position: fixed;
            top: 470px;
            left: 100px;
            left: 80px;
        }
        
       }